@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html,
body {
  margin: 0;
  padding: 0cm;
  background-image: url(../images/background/main_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

.container {
  position: relative;
}
.header {
  background-color: rgba(82, 75, 75, 0.4);
  display: flex;
}

.header--logo {
  flex: 5;
  
  
}
.logo {
  width: 200px;
  margin: -10px 20px;
}
.header--layout {
  flex: 6;
  display: flex;
}
.itemsearch {
  flex: 4;

  text-align: right;
}
.itemsearch p {
  margin-block-start: 2px;
}
.boxsearch {
  position: relative;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  margin: 10px 0 0 calc(100% - 250px);
}
.boxsearch input[type="text"] {
  width: 200px;
  height: 30px;
  padding: 0;
  position: absolute;
  top: 0px;
  right: 28px;
  background-color: rgb(53, 53, 53);
  border: none;
  border-radius: 5px 0 0 5px;
}
#btnSearch {
  background-image: url(../images/icons/search.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  background-color: rgb(53, 53, 53);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 0 5px 5px 0;
}
#btnSearch:hover,
.boxsearch input[type="text"]:hover {
  background-color: rgba(172, 172, 172, 0.5);
  cursor: pointer;
}
.itemDN {
  flex: 1.5;
  margin-top: 10px;
  text-align: center;
}
.acc {
  background-color: rgba(172, 172, 172, 0.5);
  color: rgb(41, 0, 153);
  font-weight: bold;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  margin: 0 25px;
  border: none;
}
.acc:hover{
    background-color:rgb(144, 162, 247);
    cursor: pointer;
}
.header__icon {
  margin: 10px;
}
.itemDN p a,
.itemDK p a {
  text-decoration: none;
  color: rgb(41, 0, 153);
  font-weight: bold;
}
.itemDN p,
.itemDK p {
  margin-block-start: 2px;
}
.itemDK {
  flex: 1.5;
  margin-top: 10px;
  text-align: center;
}

.nav {
  background-color: rgba(82, 75, 75, 0.4);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 900px;
  
  font-size: 20px;
  margin-top: -70px;
  margin-left: 20vw;
  text-indent: 0px;
  background-color: #0c4a6d;
}

.nav ul {
  text-align: center;
  background-color: rgba(82, 75, 75, 0.4);
  border-radius: 5px;
  margin-bottom: 10px;
  
  margin-right: 0;
  padding-right: 35px;
  float: left;
  list-style: none;
}

.nav ul li {
  position: relative;
  float: left;
  padding: 0 5px;
}

.nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.3em 6px;
  font-weight: bold;
}

.nav li a:hover {
  background: #86a3a7;
  color: white;
}

.nav li ul {
  position: absolute;
  display: none;
  width: 10em;
}

.nav li:hover ul {
  display: block;
}

.nav ul li ul li {
  width: 100%;
}

.content {
  width: 100%;
  /* height: 3000px; */
}

.footer {
  /* background-color: rgb(250, 151, 151); */
  width: 100%;

 

  
}

iframe {
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
}
@media screen and (max-width:900px){
  .logo{
    width: 150px;
  }
  .header{
    flex-direction: column;
  }
  .header--layout{
    flex-direction: column;
  }
  .itemDN p a,
.itemDK p a{
  display: none
}
  .nav{
    display: none;
  }
  
}
