.background{
    background-image: url(/assets/Photo/main_background.png);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.container{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(245, 242, 242, 0.2), 0 6px 20px 0 rgba(247, 244, 244, 0.19);
    justify-content: space-around;
    margin-top: 10px;
}
.flex_row--item1{
 margin: 10px;
 text-align: center;
 width: 220px;
 font-family: 'Poppins', sans-serif;

}
img{
    width: 100%;
    border-radius: 10px;
    height: 150px;
}
.content_banner{
    background-color: rgba(51, 58, 79, 1);
    border-radius: 7px;
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 70px;
}
.text_banner{
    margin: 5px;
    color: white;
    text-align: center;
}
mark{
    background-color: rgba(51, 58, 79, 1) ;
    color: yellow;
}
.content_banner_price{
    color: red;
    
}
@media screen and (max-width: 920px) {
    .container{
       flex-wrap: wrap;
    }
}